body {
  color: white;
  background-image: url(anotherbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
span {
  font-size: 30px;
}
#camera,
#result {
  border: 2px dashed black;
  width: 350px;
  height: 300px;
}
#result_emotion_name,
#result_emotion_name2 {
  color: black;
}
.emotion_name {
  font-size: 40px;
}
.emoji {
  font-size: 48px;
}
h1 {
  font-size: 32px !important;
  width: 30%;
  text-shadow: 2px 2px 8px #2e2c2c;
  font-family: "Smooch", cursive;
  box-shadow: 2px 2px 20px #888888;
}
label {
  color: green;
  background: white;
  padding: 10px;
}
button {
  box-shadow: 2px 2px 20px #888888;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
p {
  text-shadow: 2px 2px 8px #7183f9;
  font-family: "Roboto", sans-serif;
}
